:root {
    --header-bgcolor: rgb(52, 90, 172);
    --headertext-color: white;
    --color-section: rgb(180, 216, 223);
    --tab-bordercolor: black;
    --titretab-bgcolor: grey;
    --recherche-bgcolor: rgb(214, 214, 1);
    --boutonvalider-bgcolor: green;
}


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /*1rem=10px*/
}

body {
    font-size: 1.6rem;
    margin: 0;
}

header {
    background-color: var(--header-bgcolor);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}


header a {
    color: var(--headertext-color);
    text-decoration: none;
    display: block;
}

header img {
    padding-left: 3rem;
    width: 9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

nav {
    display: flex;
    flex-wrap: wrap;

}


nav>menu {
    display: flex;
    justify-content: center;
    color: var(--headertext-color);
    gap: 2rem;
    margin-top: 3.5rem;
    margin-right: 25rem;
}


li {
    list-style: none;
}

header form {
    background-color: var(--header-bgcolor);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline;
}

#recherche {
    height: 3rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
    border: none;
    color: var(--headertext-color);
    background-color: transparent;
}

::placeholder {
    color: var(--headertext-color);
}


#valider-recherche {
    height: 3rem;
    margin-right: 2rem;
    background-color: var(--recherche-bgcolor);
    border-radius: 15%;

}

/*fin copier*/
#bienvenue{
    margin-left:35%;
    width:30%;
    text-align: justify;
}
#titre{
    font-size: 270%;
    text-align: center;
}
h2{
    text-align:center;
}
#principes{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:4rem
}
#principes>h2{
    width:100%;
}
#principes section{
    width:20%;
    background-color: var(--color-section);
    margin-right:1rem;
    border-radius: 5%;
    padding-left:1rem;
    padding-right:1rem;
    text-align:justify;
}
#principes>section:nth-child(2){
    margin-left: 10%
}


table{
    width:70%;
    margin-left:15%;
    margin-right:15%;
    margin-top:1rem;
    border-top:1px solid var(--tab-bordercolor);
    border-left:1px solid var(--tab-bordercolor);
    border-spacing: 0;
}
#criteres{
    margin-bottom: 4rem;
}
th{
    border-right:1px solid var(--tab-bordercolor);
    border-bottom:1px solid var(--tab-bordercolor);
}
td{
    border-bottom:1px solid var(--tab-bordercolor);
    border-right:1px solid var(--tab-bordercolor);
}
th,.categorie{
    text-align:center;
    background-color:var(--titretab-bgcolor)
}

th,td{
    padding:1rem
}

a{
    display:inline-block;
    width: 100%;
}
article>p,a{
    text-align: center;
}

article img{
    margin-right: 25%;
    margin-left:25%;
    width:50%;
}

/*début copier coller*/
footer{
    text-align: center;
    background-color: var(--header-bgcolor);
    color:var(--headertext-color);
    padding-top:0.1rem;
    padding-bottom:0.1rem;
}